IMAGE_NAME=openpi_portable
IMAGE_TAG=latest
CONTAINER_NAME=openpi

BASE_IMAGE=nvidia/cuda:12.2.2-cudnn8-runtime-ubuntu22.04@sha256:2d913b09e6be8387e1a10976933642c73c840c0b735f0bf3c28d97fc9bc422e0
UV_IMAGE=ghcr.io/astral-sh/uv:0.5.1
BUILD_NETWORK=host
APT_MIRROR=
HTTP_PROXY=
HTTPS_PROXY=
NO_PROXY=localhost,127.0.0.1
http_proxy=
https_proxy=
no_proxy=localhost,127.0.0.1

INCLUDE_ASSETS=lean
NETWORK_MODE=host
SHM_SIZE=32gb

GPU_COUNT=all
NVIDIA_VISIBLE_DEVICES=all

SRC_DIR=..
OPENPI_ASSETS_DIR=/data2/axgu/.cache/openpi
HF_CACHE_DIR=/data2/axgu/.cache/huggingface
DATASET_DIR=/data2/axgu/.cache/huggingface/lerobot
JAX_CACHE_DIR=/data2/axgu/jaxcache

WANDB_API_KEY=
HUGGING_FACE_HUB_TOKEN=

SERVER_ARGS=
SERVICE_COMMAND=bash
